/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .z1 {
    position: absolute;
    top: 46%;
    left: 6%;
    width: 5%;
    height: 6%
    }

.z2 {
    position: absolute;
    top: 46%;
    left: 21%;
    width: 10%;
    height: 6%
    }

 .z3 {
    position: absolute;
    top: 34%;
    left: 23.5%;
    width: 5%;
    height: 6%;
    }

 .z4 {
    position: absolute;
    top: 34%;
    left: 39.5%;
    width: 10%;
    height: 6%;
    }

 .z5 {
    position: absolute;
    top: 56%;
    left: 21%;
    width: 10%;
    height: 6%
    }

 .z6 {
    position: absolute;
    top: 56%;
    left: 84.5%;
    width: 10%;
    height: 6%
    }

.output {
    position: absolute;
    top: 66%;
    left: 5%;
    width: 80%;
    height: 30%; 
    }
