/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.wrapper {
  position: relative;
  margin: 10px;
  width: 100%;
  height: 100%;
    }

.image {
  position: relative;
  border-width: 10px;
  top: 0;
  left: 0;
  object-fit: contain;
    }

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    }

.dropdown{
    left: 6%;
    }

.z1 {
    position: absolute;
    top: 46%;
    left: 6%;
    width: 6%;
    height: 6%
    }

.z2 {
    position: absolute;
    top: 46%;
    left: 21%;
    width: 10%;
    height: 6%
    }

 .z3 {
    position: absolute;
    top: 34%;
    left: 23.5%;
    width: 6%;
    height: 6%;
    }

 .z4 {
    position: absolute;
    top: 34%;
    left: 39.5%;
    width: 10%;
    height: 6%;
    }

 .z5 {
    position: absolute;
    top: 56%;
    left: 21%;
    width: 10%;
    height: 6%;
    }

 .z6 {
    position: absolute;
    top: 56%;
    left: 84.5%;
    width: 10%;
    height: 6%;
    }

.table1 {

    }

.output {
    position: absolute;
    top: 70%;
    left: 5%;
    }
