# Example environment variables for the project. Copy this file to .env and modify as needed.

# Set to true to enable experimental "faster" build using SWC instead of Babel.
FASTER=

URL=
BASE_PATH=

# Algolia search configuration, safe to commit since these are public keys for the search-only API.
ALGOLIA_APP_ID=TA54ULSLXO
ALGOLIA_SEARCH_API_KEY=df22fc1a768ac1f658d6fa5f0f0dfe62
ALGOLIA_INDEX_NAME=prod_RF_DOCS